* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.backgroundBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ffff;
}

.colorInfoPallete {
  background-color: rgb(245, 236, 236);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.colorInfoPallete button {
  border: none;
  color: black;
  background-color: #00ffff;
  padding: 10px;
  border-radius: 10px;
}

.colorInfoPallete button:hover {
  cursor: pointer;
}
